body {
  height: 100vh;
  align-items: center;
}
.layer-login {
  width: 100%;
  height: 100%;
  display: flex;
}
.container {
  width: 60%;
  height: 100%;
  padding: 40px;
}
.container h1 {
  text-align: left;
  padding: 20px 0;
}
.container h5 {
  padding: 5px 0;
  font-weight: lighter;
  color: var(--gray-color);
  font-size: 20px;
}
.container .xaydung {
  color: rgb(136, 135, 135);
}
.form-control {
  width: 100%;
  position: relative;
  margin-top: 30px;
}
.form-control label {
  bottom: -20px;
  display: inline-block;
  font-size: 17px;
}

.form-control input {
  width: 65%;
  height: 40px;
  font-size: 16px;
  outline: none;
  border: 1px solid rgb(173, 168, 168);
}
.form-control input:hover {
  border: 1px solid black;
}
/* .form-control span{
    border-bottom: 2px solid var(--success-color);
    position: absolute;
    top: 70px;
    left: 0%;
    width: 0%;
    transition: 0.3s;
    
  }
  .form-control input:focus ~ span{
    width: 100%;
  } */
.form-control.error small {
  color: var(--error-color);
}
.form-control.error input {
  border-bottom: 2px solid var(--error-color);
}
.btn-submit {
  width: 65%;
  height: 50px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: var(--green-color);
  font-size: 18px;
  font-weight: bold;
  margin: 30px 0;
  cursor: pointer;
  transition: 0.3s;
  color: white;
}
.btn-submit:hover {
  background: rgb(103, 230, 103);
}
.signup-link a {
  color: var(--success-color);
  text-decoration: none;
  cursor: pointer;
}
.signup-link .a2 {
  margin-left: 12rem;
}
.signup-link a:hover {
  text-decoration: underline;
}
.container p {
  margin: 20px 0;
  margin-left: 15rem;
}
.container .facebook,
.google,
.link {
  text-decoration: none;
  padding: 10px 47px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  align-items: center;
  border: none;
  border-radius: 5px;
  color: white;
}

.container .facebook {
  background: #365899;
  border-color: #365899;
}
.container .google {
  background: #ea4335;
  border-color: #ea4335;
}
.container .link {
  background: #056497;
  border-color: #056497;
}
